---
// Component Imports
import site from '../site.json'
import Nav from '../components/Navbar.astro';
import Sidebar from '../components/Sidebar.astro';
import MainLayout from '../layouts/MainLayout.astro'

interface MarkdownFrontmatter {
  publishDate: number;
}

let allPosts = Astro.fetchContent<MarkdownFrontmatter>('./posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.publishDate).valueOf() - new Date(a.publishDate).valueOf());

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<MainLayout>
  <!-- <Sidebar></Sidebar> -->
  <Nav name="{site.title}" menus="{site.menus}" auth="{site.auth}"></Nav>
</MainLayout>