---
const {texts} = Astro.props
---

<div id="typewriter"></div>

<script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>

<script data-texts={texts}>

var app = document.getElementById("typewriter");

var typewriter = new Typewriter(app, {
    loop: true
});

document.currentScript.dataset.texts.split(',').map(text => {
    typewriter.typeString(text)
        .pauseFor(2000)
        .deleteAll()
})

typewriter.start();

</script>

